<h1>Список графиков</h1>
<ul data-role="listview" data-style="inset" >
    <li>
		<a href="view/users_activity_chart.html" data-icon="home">Выполнение плана продаж</a>
    </li>
</ul>
<ul data-role="listview" data-style="inset" >
    <li>
		<a href="view/clients_report_chart.html" data-icon="home">Динамика продаж по брендам</a>
    </li>
</ul>
<ul data-role="listview" data-style="inset" >
    <li>
		<a href="view/clients_report_pie_chart.html" data-icon="home">Продажи по брендам за 2013 год</a>
    </li>
</ul>
