<div data-role="view" data-layout="main" data-model="APP.models.users_activity" data-zoom="true" data-before-show="showChart">
    <h1 data-bind="html: title"></h1>
	<div id='users_activity_chart'></div>
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="view/users_activity_chart.html" data-icon="settings">График</a>
            <a href="view/users_activity_data.html" data-icon="home">Данные</a>
        </div>
    </div>
</div>

<script>
     function showChart (e) {
          var data = e.view.model.ds;
          var сhartOptions = {
            tooltip:{
                visible:1,
                format:"{0:N2}",
                template:"#= series.name #: #= value #"
            },
            chartArea:{heigth:600},
            seriesDefaults:{
                type:"column",
                labels:{
                    visible:1,
                    format:"{0:N2}",
                    background:"transparent",
					rotation: -90   
                }
            },
            valueAxis:{
                title:{
                    text:"USD"
                },
                labels:{
                    format:"{0:N2}"
                }
            },
            legend:{
                position:"bottom"
            },
            categoryAxis:{
                field:"label"
            },
            series:[{name:"План",field:"plan"},{name:"Факт",field:"fact"},{name:"Отклонение",field:"diff"}],
            dataSource: data
          };          	
          $("#users_activity_chart").kendoChart(сhartOptions);
      };
</script>