<div data-role="view" data-layout="main" data-model="APP.models.users_activity" data-init="show_users_activity_grid">
	<h1 data-bind="html: title"></h1>
	<div id='users_activity_grid'></div>
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="view/users_activity_chart.html" data-icon="settings">График</a>
            <a href="view/users_activity_data.html" data-icon="home">Данные</a>
        </div>
    </div>
</div>

<script>
     function show_users_activity_grid (e) {
         var data = e.view.model.ds;
         var gridOptions = {
              columns: [
              	{
                      field: 'label',
                      title: 'Бренд',
                  },
              	{
                      field: 'plan',
                      title: 'План',
                      format: "{0:N}"
                  },
              	{
                      field: 'fact',
                      title: 'Факт',
                      format: "{0:N}"
                 },
				 {
                      field: 'diff',
                      title: 'Отклонение',
                      format: "{0:N}"
                 }
              ],
          	dataSource: data
          };
          $("#users_activity_grid").kendoGrid(gridOptions);

          var users_activity_grid = $("#users_activity_grid").data("kendoGrid");
      };
</script>