<div data-role="view" id="view-title">
    <div data-role="navbar" style="background-color:transparent;">
        <a id="logo-button" class="nav-button" data-align="left" href="menu.html" data-role="backbutton" style="height:35px;padding:0;border:0">
            <img src="styles/images/logo.png">            
        </a>
        <a id="back-button" class="nav-button" data-align="right" href="menu.html" data-role="backbutton">Вернуться</a>
        <a id="back-button" class="nav-button" data-align="right" href="login.html" data-role="backbutton">Выход</a>
<!--        <a id="back-button" class="nav-button" data-align="right" href="view/menu.html" data-role="backbutton" style="height:35px;width:35px;padding:0;border:0;margin:10px;">
            <img src="styles/images/go-back.png" style="height:100%;width:100%">
        </a>
-->
<!--        <a id="back-button" class="nav-button" data-align="right" href="login.html" data-role="backbutton" style="height:35px;width:35px;padding:0;border:0">
            <img src="styles/images/down.png" style="height:100%;width:100%">
        </a>
-->
        <h4 style="font-weight:bold;">ОТЧЕТЫ</h4>
    </div>
	<div data-role="touch" data-swipe="swipe_menu" data-enable-swipe="1" style="height:600px">
        <table class="list-table">
            <tr class="list-tr">
                <td align="left" class="list-td" style="width:50%;">
    				<div data-role="button" class="list-btn" style="background:white;border:0;padding:0;border-radius:0;" data-click="onClick_crpc">
                       <table>
                           <tr>
                               <td style="padding:0">
    		                       <img src="styles/images/pie.png" style="height:99px;">
                       		</td>
                               <td style="padding:10px;">
    		                       Продажи по брендам за 2013 год
                       		</td>
                           </tr>                           
                       </table>
                    </div>
                </td>
                <td align="left" class="list-td" style="width:50%;">
    				<div data-role="button" class="list-btn" style="background:white;border:0;padding:0;border-radius:0;" data-click="onClick_crc">
                       <table>
                           <tr>
                               <td style="padding:0">
    		                       <img src="styles/images/column.png" style="height:99px;width:100px;">
                       		</td>
                               <td style="padding:10px;">
    		    					Динамика продаж по брендам
                       		</td>
                           </tr>                           
                       </table>
                    </div>
                </td>
            </tr>
            <tr class="list-tr">
                <td align="left" class="list-td" style="width:50%;">
            		<div data-role="button" class="list-btn" style="background:white;border:0;padding:0;;border-radius:0;" data-click="onClick_uac">
                       <table>
                           <tr>
                               <td style="padding:0">
    		                        <img src="styles/images/area.png" style="height:99px;width:100px;">
                       		</td>
                               <td style="padding:10px;">
    		                        Выполнение плана продаж
                       		</td>
                           </tr>                           
                       </table>
                    </div>
                </td>
            </tr>
        </table>
	</div>
</div>
<script>
    function onClick_uac () {
        window.location.hash = "#view/reports/users_activity_chart.html";
    }
    function onClick_crc () {
        window.location.hash = "#view/reports/clients_report_chart.html";
    }
    function onClick_crpc () {
        window.location.hash = "#view/reports/clients_report_pie_chart.html";
    }
</script>